.container {
  text-align: center;
  padding: 1em;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.logo {
  width: 80px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.left-align {
  text-align: left;
}

.delete-icon {
  float: right;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.description-text {
  font-style: italic;
  quotes: "« " " »";
}
